attrs==19.1.0
codecov==2.0.15
funcy==1.12
metric-temporal-logic==0.1.2
monotone-bipartition==0.2.0
numpy==1.17.0
pathos==0.2.3
pytest==4.5.0
pytest-cov==2.7.1
pytest-flake8==1.0.4
pytest-sugar==0.9.2
pytest-xdist==1.28.0
hypothesis==4.24.0